@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  color: theme('colors.dbfy-text');
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

.border-spinner {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 50%;
  border-color: theme('colors.dbfy-border');
  border-top-color: theme('colors.dbfy-dark-icon');
  -webkit-animation: border-spinner-anim 0.8s linear infinite;
  animation: border-spinner-anim 0.8s linear infinite;
}

@-webkit-keyframes border-spinner-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes border-spinner-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cm-editor {
  @apply font-mono text-xs leading-[1.4em];
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor .cm-scroller {
  border: 1px solid theme('colors.dbfy-border');
  border-radius: 3px;
}

.cm-editor .cm-content {
  @apply py-2;
}

.cm-editor .cm-gutters {
  @apply select-none rounded-tl-[3px] rounded-bl-[3px] border-r border-r-dbfy-border bg-dbfy-input text-right text-dbfy-light-icon transition-[margin-left] duration-200;
  min-width: 32px;
}

.cm-editor .cm-gutter {
  width: 100%;
  text-align: right;
  overflow: visible;
}

.cm-editor .cm-gutterElement {
  padding-right: 8px;
}

.cm-editor .cm-gutterElementError {
  position: relative;
  color: #ffffff;
  background: #cc0000;
}

.cm-editor .cm-gutterElementError:before, .cm-editor .cm-gutterElementError:after {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0px;
  right: -1px;
  border-right: 1px solid #cc0000;
}

.cm-editor .cm-gutterElementError:after {
  right: 0px;
  left: -1px;
}

.cm-editor .cm-line {
  padding: 0px 9px;
}

.cm-editor .cm-lineError {
  background: #FFEAE6;
}

/* keyword */
.cm-editor .ͼb {
  color: #770088;
  font-weight: bold;
}

/* type */
.cm-editor .ͼi {
  color: #0000a0;
  font-weight: bold;
}

/* identifier */
.cm-editor .ͼf {
  color: #0055aa;
}

/* string */
.cm-editor .ͼe {
  color: #6a9f00;
}

/* number */
.cm-editor .ͼd {
  color: #007f7f;
}

/* comment */
.cm-editor .ͼm {
  color: #888888;
}

/* variable */
.token.variable {
  color: #e39200;
}

.cm-editor .cm-tooltip {
  @apply rounded-[3px] border border-dbfy-border bg-dbfy-input text-dbfy-text;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul {
  max-height: 180px;
}

.cm-editor .cm-completionIcon {
  display: none;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  @apply font-mono text-xs leading-[1.4em];
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li .cm-type {
  @apply text-dbfy-light-icon;
  margin-left: 4px;
}

.cm-editor .cm-tooltip-autocomplete ul li[aria-selected] {
  @apply bg-dbfy-border text-dbfy-text;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li.cm-type-keyword .cm-completionLabel {
  color: #770088;
  font-weight: bold;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li.cm-type-type .cm-completionLabel {
  color: #0000a0;
  font-weight: bold;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li.cm-type-identifier .cm-completionLabel {
  color: #0055aa;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li.cm-type-variable .cm-completionLabel {
  color: #e39200;
}

.cm-editor .cm-tooltip-autocomplete ul li[aria-selected] .cm-type {
  @apply text-dbfy-dark-icon;
}
