@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './editor.css';
@import './table.css';

html {
  height: 100%;
}

body {
  color: theme('colors.dbfy-text');
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

* {
  outline: none;
}

b, strong {
  font-weight: 600;
}

#__next {
  height: 100%;
}

.border-spinner {
  border-radius: 50%;
  border-color: theme('colors.dbfy-border');
  border-top-color: theme('colors.dbfy-dark-icon');
  -webkit-animation: border-spinner-anim 0.8s linear infinite;
  animation: border-spinner-anim 0.8s linear infinite;
}

@-webkit-keyframes border-spinner-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes border-spinner-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
