.token.comment {
  color: #888888;
}
.token.variable {
  color: #e39200;
}
.token.string {
  color: #6a9f00;
}
.token.identifier {
  color: #0055aa;
}
.token.identifier > .token.punctuation {

}
.token.function {

}
.token.keyword {
  color: #770088;
  font-weight: bold;
  text-transform: uppercase;
}
.token.boolean {

}
.token.number {
  color: #007f7f;
}
.token.operator {
  color: #770088;
  font-weight: bold;
  text-transform: uppercase;
}
.token.punctuation {

}
.error {
  border-bottom: 2px solid #cc0000;
}
